{% extends "base.html" %}
{% block container %}

<div class="mb-4 pb-10 pt-10 px-8 mx-4 rounded-3xl bg-gray-100 border-4 border-green-400">
    <div class="flex items-center h-10 intro-y">
        <h2 class="mr-5 text-lg font-medium truncate pb-8">Profile</h2>
    </div>
<div class="flex justify-center">
    <div class="">
        <img class="hidden h-[150px] w-[150px] rounded-full sm:block object-cover mr-2 border-4 border-green-400"
            src="{% if user.profile_picture %} {{user.profile_picture.url}} {%endif%}" alt="">
            <form action="" method="post" enctype="multipart/form-data">
                <i>Change your profile picture: </i>
                {% csrf_token %}
                <input class="mt-5" type="file" id="img" name="profile_picture" accept="image/*">
                <button type="submit"><b class="inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Upload</b></button>
            </form>
    </div>
</div>    
</div>

{% endblock %}