{% extends "base.html" %}
{% block container %}

<div class="mb-8 p-8 mx-4 rounded-3xl bg-gray-100 border-4 border-green-400">
    <div class="flex items-center h-14 intro-y">
        <h2 class="mr-5 text-2xl font-semibold text-green-600">Profile</h2>
    </div>
    <div class="flex justify-center items-center">
        <div class="text-center">
            <img class="h-[150px] w-[150px] rounded-full object-cover mb-4 border-4 border-green-400"
                src="{% if user.profile_picture %} {{ user.profile_picture.url }}{% endif %}" alt="">
            <p class="text-gray-700 text-lg mb-2">Currently logged in as:</p>
            <p class="text-xl font-bold mb-4">{{ user.username }}</p>
            <form action="" method="post" enctype="multipart/form-data" class="mb-4">
                <label for="img" class="text-green-600 font-semibold block mb-2">Change your profile picture:</label>
                {% csrf_token %}
                <input type="file" id="img" name="profile_picture" accept="image/*"
                    class="mb-2 p-2 border rounded-md border-green-400 focus:outline-none focus:border-green-600">
                <button type="submit"
                    class="inline-flex justify-center items-center rounded-md bg-green-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus:outline-none focus:ring focus:border-green-300">
                    Upload
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
